@import "icons";
@import "color";
@import "width-height";
@import "primeng-dropdown";
@import "mixin";
@import "primeng-calender";

.self-service-page {
  h1 {
    font-size: 24px;
    color: $chathams-blue;
    padding-top: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 36px;;
  }
  .main {
    border: 1px solid $heather;
    width: $width-service;
    margin: auto;
    .left-div {
      width: 60%;
      box-sizing: border-box;
      border-right: 1px solid $heather;
      .form-group {
        padding: 25px;
        h2 {
          font-size: 18px;
          color: $chathams-blue;
          padding-bottom: 32px;
          font-weight: 600;
          >span {
            font-size: 14px;
            color: $mine-shaft;
            font-weight: normal;
          }
        }
        .row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          height: 40px;
          font-size: 14px;
          color: $mine-shaft;
          >label {
            font-weight: 600;
            width: 45%;
            align-self: center;
          }
          .dropdown {
            width: 55%;
            border: none;
            border-bottom: 1px solid $geyser;
            .ui-dropdown-label {
              height: 40px;
              line-height: 35px;
            }
          }
        }
      }
    }
    .right-div {
      width: 40%;
      .box-group {
        // border: 1px solid $heather;
        &.border-top {
          border-top: 1px solid $heather;
        }
        p {
          padding-left: 21px;
          &.name {
            display: flex;
            align-items: center;
            height: 50px;
            font-size: 15px;
            color: $chathams-blue;
            font-weight: bold;
            background-color: $white-lilac;
            border-bottom: 1px solid $heather;
            .icons {
              margin-right: 16px;
              &.icon-application {
                @include icon(applications-color, null, null);
              }
              &.icon-calender{
                @include icon(calender, null, null);
              }
            }
          }
        }
        .text{
          height: 52px;
          padding: 0 23px;
          line-height: 52px;
          border-bottom: 1px solid $heather;
          &:last-child {
            border: none;
          }
          a {
            text-decoration: none;
            color: $blue;
          }
          >span {

          }
          p-dropdown {
            .ui-dropdown {
              width: auto;
              min-width: 2em;
              label.ui-dropdown-label {
                padding: 0;
                padding-right: 20px;
                color: $blue;
              }
            }
          }
        }
      }
    }
    .add-control {
      border-top: 1px solid $heather;
      height: 50px;
      line-height: 50px;
      padding: 0 25px;
      .btn-add-new {
        font-size: 14px;
        color: $blue;
        font-weight: 600;
        text-decoration: none;
        .icon-add {
          margin-right: 14px;
          margin-top: -3px;
          @include icon(add, null, null);
        }
      }
    }
  }
  .btn-div {
    margin-top: 35px;
    button {
      background-color: $blue;
      width: 103px;
      height: 35px;
      font-size: 15px;
      text-align: center;
      color: white;
      font-weight: 600;
      text-decoration: none;
      line-height: 35px;
      border: none;
      cursor: pointer;
    }
  }
}
@include placeholder {
  color: $blue;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}
