<!-- header -->
<app-header></app-header>

<!-- content -->
<div class="self-service-page">
  <!-- title -->
  <h1 class="title">self service</h1>

  <!-- form data -->
  <form>
    <div class="main">
      <div class="p-grid">
        <!-- left content -->
        <div class="left-div">
          <div class="form-group">
            <h2><span>Welcome</span><br> Russell V Gomez</h2>
            <div class="row">
              <label>Current Computer</label>
              <div class="dropdown">
                <p-dropdown name="computer" [(ngModel)]="computer" [options]="datas?.computer_list">
                </p-dropdown>
              </div>
            </div>
            <div class="row">
              <label>Current Department</label>
              <div class="dropdown">
                <p-dropdown name="department" [(ngModel)]="department" [options]="datas?.department_list"></p-dropdown>
              </div>
            </div>
            <div class="row">
              <label>Current Location</label>
              <div class="dropdown">
                <p-dropdown name="location" [(ngModel)]="location" [options]="datas?.location_list"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <!-- end left content -->

        <!-- right content -->
        <div class="right-div">
          <div class="box-group">
            <p class="name">
              <span class="icons icon-calender"></span>
              Migration Date
            </p>
            <div class="text fix-padding">
              <p-calendar name="mirgationDate" [(ngModel)]="mirgationDate" placeholder="Select Date"
                icon="icon icon-calender-blue" [showIcon]="true" [locale]="roCalender" [readonlyInput]="true"
                [showOtherMonths]="false">
                <ng-template pTemplate="date" let-date>
                  <span *ngFor="let item of datePlan; let i = index">
                    <span *ngIf="date.year == item.year && date.month == item.month && date.day == item.day" class="is-event">
                      {{date.day}}
                    </span>
                  </span>
                  <span>{{date.day}}</span>
                </ng-template>
                <!-- <ng-template pTemplate="date" let-date>
                    <span [ngStyle]="{color: (date.day < 21 && date.day > 10) ? '#7cc67c' : 'inherit'}">{{date | json}}</span>
                </ng-template> -->
              </p-calendar>
            </div>
          </div>
          <div class="box-group border-top">
            <p class="name">
              <span class="icons icon-application"></span>
              Application
            </p>
            <div class="text dflex justify-space-between" *ngFor="let app of appList">
              <span>{{app.name}}</span>
              <p-dropdown [name]="app.id" [(ngModel)]="app.value" [options]="checkList"></p-dropdown>
            </div>
          </div>
        </div>
        <!-- end right content -->
      </div>

      <!-- button add -->
      <div class="p-grid">
        <div class="left-div add-control">
          <a href="javascript:;" class="btn-add-new p-grid p-align-center">
            <span class="icon-add"></span>
            Add Comment
          </a>
        </div>
        <div class="right-div add-control">
          <a href="javascript:;" class="btn-add-new p-grid p-align-center">
            <span class="icon-add"></span>
            Add Application
          </a>
        </div>
      </div>
      <!-- end button add -->
    </div>
    <!-- btn Update -->
    <div class="p-grid p-justify-center" [style.margin-top.px]="25">
      <a href="javascript:;" class="button-ok">Update</a>
    </div>
    <!-- end btn Update -->
  </form>
</div>
<!-- end content -->