@import 'color';
@import 'icons';
@import 'width-height';

.header {
  background-color: $white-lilac;
  height: $header-height;
  padding: 0 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .options {
    display: flex;
    align-items: center;
    .avatar {
      display: block;
      width: 45px;
      height: 45px;
      overflow: hidden;
      border-radius: 50%;
      margin-left: 35px;
      img {
        width: 100%;
      }
    }
    .icon-search {
      @include icon(search, null, null);
      cursor: pointer;
    }
  }
}