<app-header></app-header>
<div class="welcome main-content" *ngIf="!import">
  <h3 class="title">Welcome</h3>
  <div class="search-box">
    <label for="search" class="icon-search"></label>
    <input id="search" class="input" type="text" placeholder="What do you want to search?">
    <app-dropdown [style.margin-left]="'auto'" [values]="listSearchBy" [dropdownName]="dropdownName" [activeValue]="searchBy" (select)="action($event)"></app-dropdown>
  </div>
  <div class="options box-content">
    <div class="col" *ngFor="let item of links">
      <a href="javascript:;" class="item {{ item.icon }}" (click)="select(item.text)">
        <i class="icon"></i><br />
        <span class="text">{{ item.text }}</span>
      </a>
    </div>
  </div>
</div>
<div class="welcome main-content" *ngIf="import">
  <h3 class="title">INPUT DATA</h3>
  <p class="sub-title">Please select the resource to migrate the data</p>
  <div class="search-box"></div>
  <div class="options box-content">
    <div class="col" *ngFor="let item of inputDatas">
      <a href="javascript:;" class="item {{ item.icon }}" (click)="select(item.text)">
        <i class="icon"></i>
        <div class="text">{{ item.text === 'CSV File' ? 'Upload' : 'Import from' }} <p>{{ item.text }}</p></div>
      </a>
    </div>
  </div>
  <div class="clear">
      <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
      accept="image/*" maxFileSize="1000000">
          <ng-template pTemplate="toolbar">
              <div>Upload 3 Files</div>
          </ng-template>
          <ng-template let-file pTemplate="file">
              <div>Custom UI to display a file</div>
          </ng-template>
          <ng-template pTemplate="content">
              <div>Custom UI to manage uploaded files</div>
          </ng-template>
    </p-fileUpload>
  </div>
</div>