$width: 80px;
$inset: 70px;


.radial-progress{
  display: inline-block;
  width: $width;
}
.radial-progress .inset {
  border-radius: 50%;
  width: $inset;
  height: $inset;
  margin-left: ($width - $inset)/2;
  margin-top: ($width - $inset)/2;
  position: absolute;
}
.radial-progress .inset p {
  text-align: center;
}
.radial-progress .circle .mask {
  clip: rect(0px, $width, $width, $width/2)
}
.radial-progress .circle .mask, .radial-progress .circle .fill {
    border-radius: 50%;
    transition: transform 1s ease 0s;
}
.radial-progress .circle .mask,
.radial-progress .circle .fill,
.radial-progress .circle .shadow {
    border-radius: 50%;
    height: $width;
    position: absolute;
    width: $width;
}
.radial-progress .circle .shadow {
  background: #e5e5e5;
}
.radial-progress .circle .mask .fill{
    background-size: 20px 100px, 100% 100%, 100% 100%;
    clip: rect(0px, $width/2, $width, 0px);
}
.number{
  font-size: 30px;
  font-weight: 900;
}
.number span{
  font-size: 14px;
  margin-bottom: 7px;
  vertical-align: bottom;
  display: inline-block;
}