@import 'color';
@import 'icons';
@import 'primeng-checkbox';
@import 'primeng-dropdown';
@import 'primeng-full-calendar';

.planning-wp {
  .title {
    font-size: 24px;
    font-weight: 800;
    color: $chathams-blue;
    height: 90px;
    line-height: 90px;
    padding-left: 34px;
    text-transform: uppercase
  }
  .planning-content {
    padding: 0 34px 34px;
    .box {
      border: 1px solid $heather;
      &-calendar {
        margin-left: 34px;
      }
      &-left {
        padding: 0;
        .box-select {
          padding: 15px 20px 25px;
        }
        .planning-row {
          height: 40px;
          font-size: 14px;
          color: $mine-shaft;
          .label {
            font-weight: 600;
            width: 45%;
          }
          .input {
            width: 55%;
            height: 40px;
            border: none;
            border-bottom: 1px solid $geyser;
            .dropdown {
              margin-top: 7px;
            }
            .vip {
              font-size: 14px;
              color: $mine-shaft;
              line-height: 38px;
              padding-left: 20px;
            }
          }
          input {
            height: 38px;
            border: none;
          }
        }
        .box-checked {
          .icon-calendar {
            @include icon(calendar-gray, null, null);
            margin-top: 2px;
          }
          .item-check {
            height: 50px;
            border-top: 1px solid $heather;
            font-size: 14px;
            padding: 0 20px;
            &.fixed-t {
              background-color: $white-lilac;
            }
            input {
              width: 100%;
              border: none;
              border-bottom: 1px solid $heather;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .button-ok {
    width: 105px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    background-color: $blue;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: 600;
    margin-top: 35px;
    margin-right: 34px;
    text-decoration: none;
  }
}
