<div class="wp-view p-grid p-align-stretch">
  <div class="aside-content p-grid p-dir-col p-col-fixed">
    <!-- logo company -->
    <a href="javascript:;" [routerLink]="[ '/welcome' ]" class="logo p-col-align-center">
      <img src="assets/img/logo-aside@2x.svg" alt="logo company">
    </a>
    <!-- end logo company -->

    <!-- aside link -->
    <div class="aside-links">
      <a href="javascript:;" class="item dashboard-aside" [routerLink]="[ '/dashboard' ]" routerLinkActive="active">
        <i class="icon"></i><br />
        <span class="text">Dashboard</span>
      </a>
      <a href="javascript:;" class="item readiness-aside" [routerLink]="[ '/readiness' ]" routerLinkActive="active">
        <i class="icon"></i><br />
        <span class="text">App Readiness</span>
      </a>
      <a href="javascript:;" class="item time" [routerLink]="[ '/planning' ]" routerLinkActive="active">
        <i class="icon"></i><br />
        <span class="text">Schedule <br />Planning</span>
      </a>
      <a href="javascript:;" class="item report2" [routerLink]="[ '/report' ]" routerLinkActive="active">
        <i class="icon"></i><br />
        <span class="text">Report</span>
      </a>
    </div>
    <!-- end aside link -->

    <!-- search and user -->
    <div class="user-box">
      <div class="options">
        <span class="icon-search" (click)="fnSearch(); $event.stopPropagation()"></span>
        <a href="javascript:;" class="avatar">
          <img src="assets/img/avatar.jpg" alt="avatar member">
        </a>
      </div>
    </div>
    <!-- end search and user -->
  </div>
  <div class="right-content p-col">
    <ng-content>
      <!-- main content of aside -->
    </ng-content>
  </div>
</div>
<!-- end aside page -->

<!-- popup search -->
<ng-container *ngIf="search">
    <app-search (closeSearch)="fnCloseSearch()"></app-search>
</ng-container>
<!-- end popup search -->