@import 'width-height';
@import 'icons';
@import 'config';

.wp-view {
  min-height: $min-h;
  height: 100vh;
  .aside-content {
    width: $aside-w;
    padding: 38px 0;
    background: rgb(0,181,255) 0%;
    background: -ms-linear-gradient(45deg, rgb(0,181,255) 0%, rgb(26,70,157) 100%);
    background: -moz-linear-gradient(45deg, rgb(0,181,255) 0%, rgb(26,70,157) 100%);
    background: -webkit-linear-gradient(45deg, rgb(0,181,255) 0%, rgb(26,70,157) 100%);
    background: -o-linear-gradient(45deg, rgb(0,181,255) 0%, rgb(26,70,157) 100%);
    background: linear-gradient(45deg, rgb(0,181,255) 0%, rgb(26,70,157) 100%);
    position: fixed;
    min-height: $min-h;
    height: 100vh;
    left: 0;
    top: 0;
    .logo {
      width: 36px;
      display: inline-block;
      img {
        width: 100%;
      }
    }
    .aside-links {
      margin-top: 60px;
      .item {
        width: 100%;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        margin: 20px 0;
        font-size: 15px;
        color: white;
        opacity: .5;
        &:hover,
        &.active {
          opacity: 1;
        }
        @each $icons in $iconsAsideConfig {
          &.#{nth($icons, 1)} {
            .icon {
              @include icon(nth($icons, 1), nth($icons, 2), nth($icons, 3));
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .user-box {
      margin-top: auto;
      .options {
        text-align: center;
        .avatar {
          display: block;
          width: 45px;
          height: 45px;
          overflow: hidden;
          border-radius: 50%;
          margin: auto;
          img {
            width: 100%;
          }
        }
        .icon-search {
          @include icon(search-white, null, null);
          cursor: pointer;
          margin-bottom: 30px;
        }
      }
    }
  }
  .right-content {
    width: 100%;
    padding-left: $aside-w;
  }
}