<div class="wp-view p-grid p-align-stretch">
  <div class="aside-content p-grid p-dir-col">
    <a href="javascript:;" class="logo p-col-align-center">
      <img src="assets/img/logo-aside@2x.svg" alt="logo company">
    </a>

    <div class="aside-links">
      <a href="javascript:;" class="item dashboard" [routerLink]="[ '/dashboard' ]" routerLinkActive="active">
        <i class="icon"></i><br />
        <span class="text">Dashboard</span>
      </a>
      <a href="javascript:;" class="item readiness" [routerLink]="[ '/readiness' ]" routerLinkActive="active">
        <i class="icon"></i><br />
        <span class="text">App Readiness</span>
      </a>
      <a href="javascript:;" class="item time" [routerLink]="[ '/schedule-planning' ]" routerLinkActive="active">
        <i class="icon"></i><br />
        <span class="text">Schedule <br />Planning</span>
      </a>
      <a href="javascript:;" class="item report2" [routerLink]="[ '/report' ]" routerLinkActive="active">
        <i class="icon"></i><br />
        <span class="text">Report</span>
      </a>
    </div>
    <div class="user-box">
      <div class="options">
        <span class="icon-search" (click)="fnSearch(); $event.stopPropagation()"></span>
        <a href="javascript:;" class="avatar">
          <img src="assets/img/avatar.jpg" alt="avatar member">
        </a>
      </div>
    </div>
  </div>
  <div class="right-content">
    <ng-content></ng-content>
  </div>
</div>


<ng-container *ngIf="search">
    <app-search (closeSearch)="fnCloseSearch()"></app-search>
</ng-container>