$blue: #198cff;
$chathams-blue: #113670;
$mine-shaft: #333333;
$geyser: #d1dddd;
$silver: #cccccc;
$mandy: #e14f4f;
$dusty-gray: #999999;
$white-lilac: #ebeff7;
$cloud: #c0beba;
$mine-shaft: #333232;
$dove-gray: #666666;
$heather: #b5bccb;
$zumthor: #ecf6ff;