@import 'color';
@import "icons";
@import "mixin";
p-calendar {
  .ui-calendar {
    padding: 0 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 52px;
    input.ui-inputtext {
      cursor: pointer;
      border: 0;
      color: $blue;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
    }
    button.ui-calendar-button {
      border: 0;
      background-color: #fff;
      .icon.icon-calender-blue {
        @include icon(calender-blue, null, null);
      }
    }
    .ui-datepicker {
      background-color: #fff;
      line-height: normal;
      margin-top: 52px;
      height: 250px;
      .ui-datepicker-group {
        .ui-datepicker-header {
          .ui-datepicker-prev {
            left: 90px;
          }
          .ui-datepicker-next {
            right: 90px;
          }
          .ui-datepicker-title {
            font-size: 14px;
            color: $chathams-blue;
            font-weight: 500;
            .ui-datepicker-month, .ui-datepicker-year {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}