$main-login: 485px;
$header-height: 75px;
$aside-w: 130px;
$readiness-w: 217px;
$onboard-w: 293px;
$min-h: 768px;
$sub-aside: 385px;
$width-service: 872px;
$heading-h: 90px;
$left-email-w: 522px;
$right-tpl-w: 360px;