@import 'width-height';
@import 'color';
@import 'mixin';
@import 'config';

.login {
  display: flex;
  min-height: $min-h;
  .left {
    width: $main-login;
    padding: 69px 75px;
    &.main-login {
      position: relative;
      form {
        margin-top: 115px;
      }
      .title {
        text-transform: uppercase;
        color: $chathams-blue;
        font-size: 36px;
        padding-bottom: 25px;
        font-weight: 800;
      }
      @each $tuple in $buttonConfig {
        .button-#{nth($tuple, 1)} {
          width: nth($tuple, 2);
          height: nth($tuple, 3);
          line-height: nth($tuple, 3);
          border: none;
          cursor: pointer;
          font-size: 14px;
        }
      }
      .button-fluid {
        background-color: $blue;
        color: white;
        margin-top: 30px;
        &.disable {
          opacity: .5;
          cursor: not-allowed;
        }
      }
      .input {
        width: 100%;
        height: 45px;
        line-height: 45px;
        color: $mine-shaft;
        border: none;
        border-bottom: 1px solid $geyser;
        margin-bottom: 15px;
        font-size: 16px;
        &.input[type='password'] {
          color: $blue;
          font-size: 30px;
        }
      }
      .error-ms {
        color: $mandy;
        font-size: 13px;
        text-align: center;
        padding-top: 30px;
      }
      .copyright {
        color: $dusty-gray;
        font-size: 14px;
        position: absolute;
        bottom: 70px;
      }
    }
  }
  .right {
    width: calc(100% - #{$main-login});
    background: url('src/assets/img/bg-login@2x.jpg') no-repeat center;
    background-size: cover;
  }
}

@include placeholder {
  color: $silver;
  font-size: 16px;
}
