<div class="login">
  <div class="left main-login">
    <app-logo></app-logo>
    <form [formGroup]="login" (ngSubmit)="onSubmit()">
      <h3 class="title">Login</h3>
      <div class="row-set">
        <input type="text" class="input" placeholder="username" formControlName="username">
      </div>
      <div class="row-set">
        <input type="password" class="input" placeholder="password" formControlName="password">
      </div>
      <button type="submit" class="button-fluid" [ngClass]="{'disable': login.invalid}" [disabled]="login.invalid">Login</button>
      <p class="error-ms" *ngIf="error">{{ error }}</p>
    </form>
    <div class="copyright">
      <small>Copyright Rollout management 2019</small>
    </div>
  </div>
  <div class="right"></div>
</div>
