@import 'color';
@import 'icons';

.options-fix-table {
  position: fixed;
  margin-top: -45px;
  right: 38px;
  z-index: 99;
  .btn-filter {
    margin-left: 97px;
    font-size: 16px;
    color: $blue;
    font-weight: 600;
    text-decoration: none;
    .icon-filter {
      @include icon(filter, null, null);
      margin-right: 8px;
    }
  }
}
.table-bottom {
  padding: 0 30px;
  height: 55px;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid $heather;
  .number-select {
    color: $blue;
    font-size: 14px;
    span {
      font-weight: 600;
    }
  }
}