<app-aside-view>
  <div class="readiness-wp">
    <div class="p-grid">
      <div class="p-col">
        <h3 class="title">APP READINESS</h3>
      </div>
      <div class="p-col p-grid p-justify-end">
        <a href="javascript:;" class="button-ok">Update</a>
      </div>
    </div>
    <div class="readiness-content p-grid p-align-stretch">
      <div class="p-col readiness">
        <div class="readiness-row" *ngFor="let item of readinessData?.datas">
          <h4 class="name"><a [routerLink]="[ '/application-detail' ]">{{ item.name }}</a> <span class="icon icon-{{item.donut}}"></span></h4>
          <div class="p-grid">
            <div class="p-col">
              <span class="label">Version</span>
              <div class="input">
                <input type="text" [(ngModel)]="item.version">
              </div>
            </div>
            <div class="p-col">
              <span class="label">Current Status</span>
              <div class="input">
                <div class="dropdown">
                  <p-dropdown [options]="readinessData?.current_status_options" [(ngModel)]="item.current_status">
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="p-col">
              <span class="label">Rationalization</span>
              <div class="input">
                <div class="dropdown">
                  <p-dropdown [options]="readinessData?.rationalization_options" [(ngModel)]="item.rationalization">
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="p-col">
              <span class="label">Target Version</span>
              <div class="input">
                <div class="dropdown">
                  <p-dropdown [options]="readinessData?.target_version_options" [(ngModel)]="item.target_version">
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="p-col-fixed" [style.width.px]="250">
              <a href="javascript:;" class="btn-add-new p-grid p-align-center" (click)="fnAdditionalApp()">
                <span class="icon-add"></span>
                Add Comment
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-aside-view>