<div class="user-detail">
  <div>
    <span class="icon-back"></span>
    <span class="name-back">Back to Dashboard</span>
  </div>
  <h3>USER DETAILS</h3>
  <div class="table left">
    <div class="introduce">
      <p>12345268</p>
      <h4>Russell V Gomez</h4>
    </div>
    <div class="info">
      <div class="content-left">
        <div class="content-name">
          <p>Vip</p>
          <p>Supporting Language</p>
          <p>Site Code</p>
          <p>Building</p>
          <p>Floor</p>
        </div>
        <div class="content-answered">
          <p>Yes</p>
          <p>English</p>
          <p>2426</p>
          <p>24627</p>
          <p>3</p>
        </div>
      </div>
      <div class="content-left">
        <div class="content-name">
          <p>Desk Information</p>
          <p>Street Address</p>
          <p>Department</p>
          <p>Email Address</p>
          <p>Site</p>
        </div>
        <div class="content-answered">
          <p>3A</p>
          <p>1297 Polk Street, Tucson, AZ</p>
          <p>Lorem Ipsum</p>
          <p>gomez@gmail.com</p>
          <p>Details</p>
        </div>
      </div>
    </div>
    <div>
      <div class="manager">
      <div>
        <span class="name">Manager Name</span>
        <span>John doe</span>
      </div>
      <div>
        <span class="email">Manager Email</span>
        <span>johndoe@gmail.com</span>
      </div>
    </div>
  </div>
  </div>
  <div class="right">
    <div class="box-group">
      <p class="name">
        <span class="icons icon-application"></span>
        Application
      </p>
      <div class="text">
        Skype
      </div>
      <div class="text">
        Chrome
      </div>
      <div class="text">
        Adobe Creative Cloud
      </div>
    </div>
    <div class="box-group diff">
      <p class="name">
        <span class="icons icon-computer"></span>
        Computer
      </p>
      <div class="text">
          Russel’s Computer (HP Spectre 360)
      </div>
      
  </div>
</div>