@import 'icons';
@import 'color';
@import 'width-height';

.add-template {
  min-height: $min-h;
  .title {
    font-size: 30px;
    color: $chathams-blue;
    text-transform: uppercase;
    text-align: center;
    padding-top: 34px;
    font-weight: 800;
    &.fix-top {
      padding-top: 60px;
    }
  }
}