@import 'mixin';
@import 'config';
@import 'icons';
@import 'width-height';
@import 'primeng';

.onboard-project {
  padding-top: 40px;
  .options-table {
    padding: 0 35px;
    .title-table {
      font-size: 24px;
      color: $chathams-blue;
      font-weight: 800;
      text-transform: uppercase;
      padding-top: 10px;
      padding-bottom: 23px;
    }
    .search-table {
      height: 38px;
      border: none;
      border-bottom: 1px solid $geyser;
      width: 530px;
      margin-right: 13px;
    }

    #import {
      display: none;
      position: absolute;
    }
  }
  .table-view {
    height: calc(100% - #{$top-table + $bottom-table});
  }
  @each $tuple in $buttonConfig {
    .button-#{nth($tuple, 1)} {
      width: nth($tuple, 2);
      height: nth($tuple, 3);
      line-height: nth($tuple, 3);
      display: inline-block;
      background-color: $blue;
      border: none;
      cursor: pointer;
      font-size: 15px;
      text-align: center;
      color: white;
      font-weight: 600;
      margin-left: 25px;
      text-decoration: none;
    }
  }
  .options-fix-table {
    position: absolute;
    margin-top: -45px;
    right: 38px;
    .btn-filter {
      margin-left: 97px;
      font-size: 16px;
      color: $blue;
      font-weight: 600;
      text-decoration: none;
      .icon-filter {
        @include icon(filter, null, null);
        margin-right: 8px;
      }
    }
  }
  .table-bottom {
    padding: 0 30px;
    height: 55px;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid $heather;
    .number-select {
      color: $blue;
      font-size: 14px;
      span {
        font-weight: 600;
      }
    }
  }
}


@include placeholder {
  color: $silver;
  font-size: 15px;
}
