@import 'color';

.box-dropdown{
  position: relative;
  float: right;
  .name {
    color: $mine-shaft;
    font-size: 15px;
  }
  .value-active {
    color: $chathams-blue;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    padding-right: 6px;
    .icon-arrow{
      display: inline-block;
      width: 6px;
      height: 6px;
      border-style: solid;
      border-color: $blue;
      border-width: 2px 2px 0 0;
      transform: rotate(135deg);
      margin-left: 10px;
      margin-bottom: 5px;
    }
  }
  ul{
    position: absolute;
    top: 37px;
    width: 100%;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 35.34px 2.66px rgba(143, 165, 173, 0.3);
    list-style: none;
    padding: 10px 0;
    li{
      padding: 10px 15px;
      color: rgb(42, 43, 44);
      font-size: 14px;
      cursor: pointer;
      &:hover{
        background-color: $blue;
        color: white;
      }
    }
  }
}