/* You can add global styles to this file, and also import other style files */
@import 'fonts';
@import 'color';

body {
  font-family: "ProximaNova";
  color: $mine-shaft;
  font-weight: 400;
  min-height: 768px;
}

.main-content {
  max-width: 1024px;
  margin: auto
}
.p-grid {
  margin: 0;
  .p-col {
    padding: 0
  }
}
.clearfix {
  clear: both;
}
.dflex {
  display: flex;
  .justify-space-between {
    justify-content: space-between
  }
}
.no-pad {
  padding: 0 !important;
}
.text-center {
  text-align: center;
}
