<app-aside-view>
  <div class="dashboard">
    <h2 class="title">DASHBOARD</h2>
    <div class="box-three p-grid p-justify-between">
      <div class="box box-readiness">
        <h4 class="box-name">Migration Status</h4>
        <app-donut-chart [numberData]="50" [donutColor]="'white'" [insetColor]="'#f95d91'"></app-donut-chart>
      </div>
      <div class="box box-onboard">
        <h4 class="box-name">Upcoming Schedule</h4>
        <div class="detail">
          <p>March 11,2019 at 09:00 AM</p>
          <span>1404  Locust Court <br /> Gardena, CA</span>
        </div>
      </div>
      <div class="box box-input-data p-grid p-justify-between">
        <div class="child child-user p-col">
          <span class="icon"></span>
          <p class="number">400</p>
          <span class="name">Users</span>
        </div>
        <div class="child child-departments p-col">
          <span class="icon"></span>
          <p class="number">20</p>
          <span class="name">Departments</span>
        </div>
        <div class="child child-applications p-col">
          <span class="icon"></span>
          <p class="number">20</p>
          <span class="name">Applications</span>
        </div>
        <div class="child child-computer p-col">
          <span class="icon"></span>
          <p class="number">5</p>
          <span class="name">Computer</span>
        </div>
      </div>
    </div>

    <p-tabView>
        <p-tabPanel header="Users">
          <div class="options-fix-table p-grid p-align-center">
            <app-dropdown [style.margin-left]="'auto'" [values]="userData | dataDropdown" [dropdownName]="dropdownName"
              [activeValue]="sortByName" (select)="action($event)"></app-dropdown>
            <a href="javascript:;" class="btn-filter p-grid p-align-center">
              <span class="icon-filter"></span>
              Filter
            </a>
          </div>

          <p-table class="table-view" #dt [columns]="userData" scrollHeight="555px"
            [sortField]="sortBy" [value]="projectDatas" [scrollable]="true" [style]="{width:'100%'}">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [style.width.px]="col.width">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr class="no-checkbox">
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr class="no-checkbox" [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>

        </p-tabPanel>
        <p-tabPanel header="Application">
          Content 2
        </p-tabPanel>
        <p-tabPanel header="Computer">
          Content 3
        </p-tabPanel>
        <p-tabPanel header="Department">
          Content 4
        </p-tabPanel>
      </p-tabView>
  </div>
</app-aside-view>
