<app-aside-view>

  <!-- content dashboard -->
  <div class="wp-dashboard">
    <h2 class="title">DASHBOARD</h2>
    <div class="box-three p-grid p-justify-between">
      <div class="box box-readiness">
        <h4 class="box-name">Migration Status</h4>
        <app-donut-chart [numberData]="50" [donutColor]="'white'" [insetColor]="'#f95d91'"></app-donut-chart>
      </div>
      <div class="box box-onboard" [routerLink]="[ '/planning' ]">
        <h4 class="box-name">Upcoming Schedule</h4>
        <div class="detail">
          <p>March 11,2019 at 09:00 AM</p>
          <span>1404 Locust Court <br /> Gardena, CA</span>
        </div>
      </div>
      <div class="box box-input-data p-grid p-justify-between">
        <div class="child child-user p-col" (click)="activateTab(0)">
          <span class="icon"></span>
          <p class="number">{{ users?.datas?.length }}</p>
          <span class="name">Users</span>
        </div>
        <div class="child child-departments p-col" (click)="activateTab(3)">
          <span class="icon"></span>
          <p class="number">{{ departments?.datas?.length }}</p>
          <span class="name">Departments</span>
        </div>
        <div class="child child-applications p-col" (click)="activateTab(1)">
          <span class="icon"></span>
          <p class="number">{{ aplications?.datas?.length }}</p>
          <span class="name">Applications</span>
        </div>
        <div class="child child-computer p-col" (click)="activateTab(2)">
          <span class="icon"></span>
          <p class="number">{{ computers?.datas?.length }}</p>
          <span class="name">Computer</span>
        </div>
      </div>
    </div>

    <p-tabView>
      <p-tabPanel header="Users" [selected]="selectedTab==0">
        <p-scrollPanel [style]="{width: '100%', height: tabHeight}">
          <app-table-view [datas]="users" [sortBy]="usersSortBy" (viewDetail)="fnViewDetail($event, 'user-detail')" [sortByName]="usersSortByName"></app-table-view>
        </p-scrollPanel>
      </p-tabPanel>
      <p-tabPanel header="Application" [selected]="selectedTab==1">
        <p-scrollPanel [style]="{width: '100%', height: tabHeight}">
          <app-table-view [datas]="aplications" [sortBy]="aplicationsSortBy" (viewDetail)="fnViewDetail($event, 'application-detail')" [sortByName]="aplicationsSortByName">
          </app-table-view>
        </p-scrollPanel>
      </p-tabPanel>
      <p-tabPanel header="Computer" [selected]="selectedTab==2">
        <p-scrollPanel [style]="{width: '100%', height: tabHeight}">
          <app-table-view [datas]="computers" [sortBy]="computersSortBy" (viewDetail)="fnViewDetail($event, 'computer-detail')" [sortByName]="computersSortByName">
          </app-table-view>
        </p-scrollPanel>
      </p-tabPanel>
      <p-tabPanel header="Department" [selected]="selectedTab==3">
        <p-scrollPanel [style]="{width: '100%', height: tabHeight}">
          <app-table-view [datas]="departments" [sortBy]="departmentsSortBy" [sortByName]="departmentsSortByName">
          </app-table-view>
        </p-scrollPanel>
      </p-tabPanel>
    </p-tabView>
  </div>
  <!-- end content dashboard -->

</app-aside-view>